---
import "../lib/app.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="All your favourite Lo-Fi stations!" />
    <meta
      name="description"
      content="Listen to all your favourite lo-fi radio stations for studying, sleeping and relaxing."
    />
    <meta
      name="keywords"
      content="lofi, youtube, cafe, chill, relax, study, sleep, music"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Erik G" />

    <meta property="og:title" content="Lo-Fi" />
    <meta property="og:site_name" content="lofi.eriko.dev" />
    <meta property="og:url" content="https://lofi.eriko.dev" />
    <meta
      property="og:description"
      content="Listen to all your favourite lo-fi radio stations for studying, sleeping and relaxing."
    />
    <meta property="og:type" content="music.playlist" />
    <meta property="og:image" content="https://lofi.eriko.dev/lofi.png" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900 text-white">
    <slot />
  </body>
</html>
